doctype html
html
  head
    meta(charset='utf-8')
    title Mon Site NodeJS
    link(rel='icon', type='image/vnd.microsoft.icon', href='favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='resources/webapp.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='vendors/jquery-1.11.1.min.js')
    script(type='text/javascript', src='vendors/bootstrap/js/bootstrap.min.js')
  
              
  script
    :coffee
      $(document).ready ->
        $("#login").on 'submit', (e) ->
          user =
            username: $('#login-username').val()
            password: $('#login-password').val()
          e.preventDefault()
          $.ajax
            url: "/user/login"
            type: "POST"
            data : user
            success: (data, status) ->
              if data
                document.getElementById("login-username").value = data['username']
                document.getElementById("login-password").value = data['password']
    
                document.getElementById("connect").style.visibility = "hidden"
                document.getElementById("register").style.visibility = "hidden"

                $("#resultat").html "Bonjour "+data['username']
                
                $("#info_perso").html "Voici vos données personnelles: "
              else
                $("#resultat").html "Login ou mot de passe incorrect"
            dataType: "json"

        $("#signup").on 'submit', (e) ->
          user =
            username: $('#signup-username').val()
            firstname: $('#signup-firstname').val()
            lastname: $('#signup-lastname').val()
            email: $('#signup-email').val()
            password: $('#signup-password').val()
          e.preventDefault()
          $.ajax
            url: "/user/signup"
            type: "POST"
            data : user
            success: (data, status, response) ->
              if data
                document.getElementById("login-username").value = data['username']
                document.getElementById("login-password").value = data['password']
    
                document.getElementById("register").style.visibility = "hidden"
                
                document.getElementById("resultat").style.visibility = "true"
                $("#resultat").html "Création du compte pour "+data['username']
              else
                $("#resultat").html "Login existant"
            dataType: "json"

  body
    header
      div#connect
        label Bienvenue sur notre TP NodeJS
        form.form-horizontal#login
          p
            input.span3#login-username(type="text", placeholder="Username ou Email", required)
          p
            input.span3#login-password(type="password", placeholder="Mot de passe", required )
          input.btn(type="submit", value="Connection")
        img
          src="/resources/key.png"
    
    main
        
      div#register
        fieldset
          legend Enregistrez-vous
          form.form-horizontal#signup
            p
              input.span3#signup-username(type="text", placeholder="Username", required)
            p
              input.span3#signup-firstname(type="text", placeholder="Prénom", required)
            p
              input.span3#signup-lastname(type="text", placeholder="Nom", required)
            p
              input.span3#signup-email(type="email", placeholder="Email", required)
            p
              input.span3#signup-password(type="password", placeholder="Mot de passe", required)
            p
              input.span3#signup-password-bis(type="password", placeholder="Répétez le mot de passe", required)
            input.btn(type="submit", value="Créer mon compte")

      p
        label#resultat
      
      p
        label#info_perso
  
