doctype html
html
  head
    meta(charset='utf-8')
    title My NodeJS Site
    link(rel='icon', type='image/vnd.microsoft.icon', href='favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='resources/webapp.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='vendors/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  
              
  script
    :coffee
      $(document).ready ->
        $("#login").on 'submit', (e) ->
          user =
            username: $('#login-username').val()
            password: $('#login-password').val()
          e.preventDefault()
          $.ajax
            url: "/user/login"
            type: "POST"
            data : user
            success: (data, status) ->
              if data
                document.getElementById("login-username").value = data['username']
                document.getElementById("login-password").value = data['password']
    
                document.getElementById("connect").style.visibility = "hidden"
                document.getElementById("register").style.visibility = "hidden"
                $("#resultat").html "Bonjour "+data['username']
              else
                $("#resultat").html "Login ou mot de passe incorrect"
            dataType: "json"
            
  script
    :coffee
      $(document).ready ->
        $("#signin").on 'submit', (e) ->
          user =
            username: $('#signin-username').val()
            firstname: $('#signin-firstname').val()
            lastname: $('#signin-lastname').val()
            email: $('#signin-email').val()
            password: $('#signin-password').val()
          e.preventDefault()
          $.ajax
            url: "/user/signin"
            type: "POST"
            data : user
            success: (data, status, response) ->
              if data
                document.getElementById("login-username").value = data['username']
                document.getElementById("login-password").value = data['password']
    
                document.getElementById("connect").style.visibility = "hidden"
                
                document.getElementById("resultat").style.visibility = "true"
                $("#resultat").html "Création du compte pour "+data['username']
              else
                $("#resultat").html "Login existant"
            dataType: "json"

  body
    header
      label My NodeJS Site
      form.form-horizontal#login
        p
          input.span3#login-username(type="text", name="User", placeholder="Username ou Email", required)
        p
          input.span3#login-password(type="password", name="Password", placeholder="Mot de passe", required )
        input.btn(type="submit", value="Connection")
    
    main
      
      label#resultat
        
      div#connect
        fieldset
          legend Enregistrez-vous
          form.form-horizontal#signin
            p
              input.span3#signin-username(type="text", name="Username", placeholder="Username", required)
            p
              input.span3#signin-firstname(type="text", name="Firstname", placeholder="Prénom", required)
            p
              input.span3#signin-lastname(type="text", name="Lastname", placeholder="Nom", required)
            p
              input.span3#signin-email(type="email", name="Email", placeholder="Email", required)
            p
              input.span3#signin-password(type="password", name="Password", placeholder="Mot de passe", required)
            input.btn(type="submit", value="Enregistrement")

       
  
