body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #69c, #fff) no-repeat;
  width: 1280px;
}
fieldset {
  width: 250px;
  height: 175px;
  margin-top: 20px;
}
input.span3 {
  margin-left: 60px;
}
input.btn {
  width: 100px;
  margin-left: 82px;
}
div {
  margin-left: 550px;
}
input.btn {
  border-radius: 15px;
}
input.span3 {
  border-radius: 10px 6px 10px 6px;
}
label#resultat {
  margin-left: 575px;
}
